body {background-color: beige;}

h1, h2 {
  color: grey;
  text-align: center;
}

.amazing {
  font-style: italic;
  color: brown;
  text-align: center;
  text-decoration: underline;
}

.meh {
  text-decoration: line-through;
}

.notawesome {
  font-family: fantasy;
  text-align: center;
  color: red;
  font-weight: bold;
}
